.priceSectionWrapper {
    padding-bottom: 4rem;
    border-bottom: 1px solid #323546;

    .convertBTC {
        font-size: 1.4rem;
        margin-top: 2rem;
        color: var(--text-secondary-color);
    }

    .priceHeading {
        font-size: 1.2rem;
        color: var(--text-secondary-color);
        font-weight: 500;
        margin-bottom: 1rem;
    }

    .price {
        display: flex;
        // justify-content: center;
        align-items: center;
        gap: 2rem;

        span {
            font-size: 3.2rem;
            font-weight: 700;
        }

        .changeUpBtn,
        .changeDownBtn {
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 0.2rem;
            font-weight: 500;
            font-size: 1.6rem;
            padding: 0.8rem 1rem;
            border-radius: 0.8rem;
        }

        .changeDownBtn {
            background-color: var(--text-down-color);
        }

        .changeUpBtn {
            background-color: var(--text-up-color);
        }
    }


}