.homepageWrapper {

    header {
        margin: 0 0 5rem 0;

        .title {
            margin: 0.8rem 0 1rem 0;
        }

        .description {
            color: var(--text-secondary-color);
            font-size: 1.4rem;

            span {
                font-weight: 500;
            }
        }
    }

    main {
        margin-top: 1.5rem;

        .pagination {
            margin-top: 4rem;
            padding-bottom: 5rem;
        }

        .nav {
            display: flex;
            justify-content: space-between;

            .left-nav {
                display: flex;
                gap: 0.4rem;
            }

            .slash {
                display: flex;
                align-items: center;
                justify-content: center;
                color: #323546;
                width: 30px;
            }

            .navButton {
                display: flex;
                gap: 1rem;
            }

            .rows {
                display: flex;
                justify-content: center;
                align-items: center;
                gap: 1rem;
                font-size: 1.2rem;
                position: relative;


                .numRow {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    padding: 0.6rem 0.8rem;
                    background: var(--bg-button-color);
                    border-radius: 0.8rem;
                    font-weight: 600;
                    cursor: pointer;

                    .hidden {
                        visibility: hidden;
                    }

                    .wrapperList {
                        position: absolute;
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        align-items: center;
                        top: 100%;

                        .tritangle {
                            background: var(--bg-button-color);
                            width: 30%;
                            height: 10px;
                            clip-path: polygon(50% 30%, 0% 100%, 100% 100%);
                            top: 100%;
                        }

                        .listNum {
                            display: flex;
                            flex-direction: column;
                            justify-content: center;
                            align-items: center;
                            // width: 300%;
                            background: var(--bg-button-color);
                            padding: 0.7rem 1rem;
                            border-radius: 1rem;

                            .num {
                                width: 100%;
                                padding: 0.7rem 1rem;
                                display: flex;
                                justify-content: center;

                                &:hover {
                                    background: var(--text-secondary-color);
                                    border-radius: 0.7rem;

                                }
                            }
                        }
                    }


                }
            }
        }

    }


}